{% extends "base.html"%}

{% block content %}
<div class="row vh-100">
  <div class=" col-2 vh-100" style="margin-top: 10px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{current_semester}}</a>
      {% for id, semester in semesters.items() %}
        {% if semester != current_semester %}
          <form action="/{{ url_for('grades_overview') }}">
              <button class="nav-link" data-toggle="pill" role="tab" id="v-pills-profile-tab" aria-controls="v-pills-profile" type="submit" name="your_name" value="{{ id }}" aria-selected="false">{{ semester }}</button>
          </form>
          <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ semester }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-9 d-grid">
    <div class="tab-content" id="v-pills-tabContent">
      {% include "grades_table.html"%}
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>
{% endblock %}
</body>
